.form-content {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    font-family: 'Coolvetica';
    font-size: 13px;
}

.form-content .artformBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-content .artformBx .your-arts {
    width: 100%;
    max-height: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #EDC7b7;
    border-radius: 12px;
}

.form-content .artformBx .your-arts .arts {
    margin: 10px;
}

.form-content .artformBx .your-arts .arts label {
    cursor: pointer;
}

.artformBx .your-arts .arts label input[type='checkbox'] {
    display: none;
}

.artformBx .your-arts .arts label span {
    position: relative;
    display: inline-block;
    background: #EEE2DC;
    padding: 15px 30px;
    color: #777;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Helvetica';
    border-radius: 30px;
    font-size: 13px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.artformBx .your-arts .arts label span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.artformBx .your-arts .arts label input[type='checkbox']:checked~span {
    background: #f6976e;
    color: #f0f0f0;
    box-shadow: 0 2px 10px #EDC7b7;
}


.form-content .artformBx .inputBx {
    margin-bottom: 20px;
}

.form-content .artformBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #333;
    font-weight: 300;
    letter-spacing: 1px;
}

.form-content .artformBx .inputBx input,
.form-content .artformBx .inputBx select {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #333;
    font-size: 16px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}

.form-content .artformBx .inputBx input[type='submit'] {
    background: #f04444;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    margin-left: 70%;
}

.form-content .artformBx .inputBx input[type='submit']:hover {
    opacity: 0.9;
}

.form-content .artformBx .inputBx input[type='file']{
    padding: 20px;
}